.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___content {
  background: rgba(0, 0, 0, 0.4);
  padding: 15px;
}

.fighter-preview___text {
  font-size: 16px;
  color: white;
  margin-bottom: 10px;
}
